In [88]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
%matplotlib inline
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 15, 6

In [125]:
#data = pd.read_excel('oclhv.xlsx',skiprows=2,header=None)
data = pd.read_excel('oclhv.xlsx',skiprows=2)
print data.head()
a=pd.DataFrame(data)

         Date Open Price High Price Low Price Close Price
0  30-12-2016   2,354.90   2,378.60  2,345.65    2,365.55
1  29-12-2016   2,303.00   2,359.90  2,303.00    2,351.70
2  28-12-2016   2,326.70   2,349.90  2,303.15    2,313.40
3  27-12-2016   2,281.50   2,330.00  2,281.50    2,323.40
4  26-12-2016   2,266.00   2,301.60  2,266.00    2,293.10

In [126]:
#data.columns = ['date','open','high','low','close']

print data.head()
print '\n Data Types:'
print data.dtypes

#data.set_index('date')

         Date Open Price High Price Low Price Close Price
0  30-12-2016   2,354.90   2,378.60  2,345.65    2,365.55
1  29-12-2016   2,303.00   2,359.90  2,303.00    2,351.70
2  28-12-2016   2,326.70   2,349.90  2,303.15    2,313.40
3  27-12-2016   2,281.50   2,330.00  2,281.50    2,323.40
4  26-12-2016   2,266.00   2,301.60  2,266.00    2,293.10

 Data Types:
Date           object
Open Price     object
High Price     object
Low Price      object
Close Price    object
dtype: object

In [127]:
 print data.loc[0]

Date           30-12-2016
Open Price       2,354.90
High Price       2,378.60
Low Price        2,345.65
Close Price      2,365.55
Name: 0, dtype: object

In [128]:
print data.iloc[0]

Date           30-12-2016
Open Price       2,354.90
High Price       2,378.60
Low Price        2,345.65
Close Price      2,365.55
Name: 0, dtype: object

In [129]:
ts=data['Date']
ts.head(10)

0    30-12-2016
1    29-12-2016
2    28-12-2016
3    27-12-2016
4    26-12-2016
5    23-12-2016
6    22-12-2016
7    21-12-2016
8    20-12-2016
9    19-12-2016
Name: Date, dtype: object

In [134]:
dateparse = lambda dates: pd.datetime.strptime(dates, '%d-%m-%Y')
data= pd.read_excel('oclhv.xlsx',index_cols='Date',skiprows=2)
dateparse = lambda dates: pd.datetime.strptime(dates, '%d-%m-%Y')
d= pd.DataFrame(data,parse_dates['Dates'],date_parser=dateparse)
d.head()

NameError: name 'parse_dates' is not defined